openapi: 3.1.0
info:
  title: Quenza ArchiveClient Tasks API
  version: 1.0.0
  description: The Quenza API allows you to integrate your systems with Quenza — manage clients, sync data, and automate workflows. Authenticate using a Bearer token from your workspace settings under Developer Tools → API Token.
servers:
- url: https://developers.quenza.com/v1
security:
- http: []
tags:
- name: Tasks
paths:
  /tasks:
    get:
      operationId: developers.v1.tasks.list
      description: Returns a paginated list of all tasks in the workspace. Optionally filter by assignee using `assignee_type` and `assignee_id` together.
      summary: List tasks
      tags:
      - Tasks
      parameters:
      - name: offset
        in: query
        description: Number of items to skip.
        schema:
          type: integer
          default: 0
        example: 0
      - name: limit
        in: query
        description: 'Number of items to return per request. Max: 100.'
        schema:
          type: integer
          default: 20
        example: 20
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TaskResource'
                  meta:
                    type: object
                    properties:
                      limit:
                        type: integer
                      offset:
                        type: integer
                      total:
                        type: integer
                    required:
                    - limit
                    - offset
                    - total
                  links:
                    type: object
                    properties:
                      next:
                        type:
                        - string
                        - 'null'
                      prev:
                        type:
                        - string
                        - 'null'
                    required:
                    - next
                    - prev
                required:
                - data
                - meta
                - links
        '401':
          $ref: '#/components/responses/AuthenticationException'
components:
  schemas:
    TaskResource:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        client_id:
          type: string
        assignee_type:
          type: string
        assignee_id:
          type: string
        is_completed:
          type: boolean
        due_at:
          type: string
        completed_at:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
      required:
      - id
      - title
      - client_id
      - assignee_type
      - assignee_id
      - is_completed
      - due_at
      - completed_at
      - created_at
      - updated_at
      title: TaskResource
  responses:
    AuthenticationException:
      description: Unauthenticated
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
  securitySchemes:
    http:
      type: http
      description: 'Authenticate using a **Bearer token** in the `Authorization` header:


        ```

        Authorization: Bearer {your-token}

        ```


        You can generate or regenerate your API token in your Quenza workspace under

        **Settings → Developer Tools → API Token**.'
      scheme: bearer
