openapi: 3.1.0
info:
  title: Quenza ArchiveClient ListClient API
  version: 1.0.0
  description: The Quenza API allows you to integrate your systems with Quenza — manage clients, sync data, and automate workflows. Authenticate using a Bearer token from your workspace settings under Developer Tools → API Token.
servers:
- url: https://developers.quenza.com/v1
security:
- http: []
tags:
- name: ListClient
paths:
  /clients:
    get:
      operationId: developers.v1.clients.list
      description: Returns a paginated list of all clients in the workspace.
      summary: List clients
      tags:
      - ListClient
      parameters:
      - name: offset
        in: query
        description: Number of items to skip.
        schema:
          type: integer
          default: 0
        example: 0
      - name: limit
        in: query
        description: 'Number of items to return per request. Max: 100.'
        schema:
          type: integer
          default: 20
        example: 20
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ClientResource'
                  meta:
                    type: object
                    properties:
                      limit:
                        type: integer
                      offset:
                        type: integer
                      total:
                        type: integer
                    required:
                    - limit
                    - offset
                    - total
                  links:
                    type: object
                    properties:
                      next:
                        type:
                        - string
                        - 'null'
                      prev:
                        type:
                        - string
                        - 'null'
                    required:
                    - next
                    - prev
                required:
                - data
                - meta
                - links
        '401':
          $ref: '#/components/responses/AuthenticationException'
components:
  schemas:
    ClientResource:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        status:
          $ref: '#/components/schemas/ClientStatus'
        is_guest:
          type: string
        timezone:
          type: string
        phone:
          type:
          - string
          - 'null'
        gender:
          type: string
        gender_identity:
          type:
          - string
          - 'null'
        birthdate:
          type: string
        invited_at:
          type: string
        invitation_accepted_at:
          type: string
        archived_at:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
      required:
      - id
      - email
      - first_name
      - last_name
      - status
      - is_guest
      - timezone
      - phone
      - gender
      - gender_identity
      - birthdate
      - invited_at
      - invitation_accepted_at
      - archived_at
      - created_at
      - updated_at
      title: ClientResource
    ClientStatus:
      type: string
      enum:
      - active
      - pending
      - archived
      title: ClientStatus
  responses:
    AuthenticationException:
      description: Unauthenticated
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
  securitySchemes:
    http:
      type: http
      description: 'Authenticate using a **Bearer token** in the `Authorization` header:


        ```

        Authorization: Bearer {your-token}

        ```


        You can generate or regenerate your API token in your Quenza workspace under

        **Settings → Developer Tools → API Token**.'
      scheme: bearer
